*{
    margin: 0;
    padding: 0;
    --primary-color:#d50000;
    --white:#ffffff;
    --black:#000000;
    --background-color: rgba(0, 0, 0, 0.6);
    --background-color-red: rgba(213, 0, 0, 0.6);
    --background-color-grey:rgba(167,167,167,.4) ;
}
body{
    font-family: 'Anton', sans-serif;
}


.container{
    width: 1170px;
    margin: 0 auto;
}
.sec-space{
    padding: 50px 0;
}

.top-social-nav{
    background-color:var(--background-color-red);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.nav-content .top-contact{
    font-family: 'Open Sans', sans-serif;
}
.nav-content ul{
    display: flex;
}
.nav-content ul li{
    list-style-type: none;
    padding: 6px 12px;
}
.nav-content ul li a{
    text-decoration: none;
    color:var(--white);
}
.nav-content ul li a:hover{
    color: var(--black);
    transition: all 1s;
}
.head-img{
    position: relative;
}
.head-img img{
    width: 100%;
}
.head-img-content-overlay{
    width: 65%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #020202B3;
    color: var(--white);
    left:50%;
    top: 40%;
    transform: translate(-50%,-50%);
    border-radius: 6px ;
}
.head-img-content-overlay h2{
    font-size: 72px;
    display: inline-block;
    padding: 5px 5px;

}
.main-nav{
    background-color:var(--background-color);
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;

}

.main-nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}


.main-nav-inner img{
    width: 150px;

}
.main-nav-inner ul{
    display: flex;
}
.main-nav-inner ul li{
    list-style-type: none;
    margin: 12px;
    font-size: 18px;
}
.main-nav-inner ul li:last-child{
    margin-right: 0;  
}
.main-nav-inner ul li a{
    text-decoration: none;
    color: var(--white);
    padding: 6px 12px;
}

.main-nav-inner ul li a:hover{
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--primary-color);
    transition: all 1s; 
    
}
.main-nav-inner ul li a:last-child:hover{
    background-color:none !important;
}




.active{
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--primary-color);
}
.top-text{
    text-align: center;
    font-size: 25px;
    color: var(--primary-color);
}
.top-text h2{
    position: relative;
    display: inline-block;
}
.top-text h2::before{
    content:"";
    width: 25px;
    height: 4px;
    background-color:var(--background-color-grey);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
}
.top-text h2::after{
    content:"" ;
    width: 25px;
    height: 4px;
    background-color:var(--background-color-grey);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -35px;

}
.menu-inner-wrapper{
    display: flex;
}
.menu-card{
    width: 25%;
    position: relative;
    margin-left: 10px;
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: var(--background-color);
    border-radius: 16px;
}
.menu-card img{
    width: 100%;
    border-radius: 16px;

}
.menu-card h2{
    color: var(--white);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.sale-items .image{
    position: relative;
}
.sale-items .image img{
    margin-top: 50px;
    width: 100%;
}
.image .image-overlay{
    
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.image .image-overlay h2{
    color: var(--primary-color);
    font-size: 50px;
}
.image .image-overlay p{
    color: grey;
    font-size: 20px;

}
.image .image-overlay a{
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-left: 45px;
}
.last-nav{
    background-color: var(--primary-color);
}
.last-nav p{
    color: var(--white);
    text-align: center;
    padding: 30px 10px;
    font-size: 40px;
}
.item-list {
    width: 100%;
    display: flex;
    
}
.item-list .item-img img {
    width: 88%;


    
}

.item-list .item-price h2{
    margin:40px 130px;
    font-size: 45px;
    color: var(--primary-color);
}
.item-list .item-price p{
    color: grey;
    text-align: center;
    font-size: 20px;
}
.item-price-2{
    width: 50%;
}
.item-price-2 h2{
    margin:40px 200px;
    font-size: 45px;
    color: var(--primary-color);
}
.item-list .item-price-2 p{
    color: grey;
    text-align: center;
    font-size: 20px;

}
.item-list .item-img-2 {
    width: 50%;
   
}
.item-list .item-img-2 img {
    width: 100%;
    display: block;
   
}
.item-list .item-img-3{
    width: 50%;
    
} 
.item-list .item-img-3 img {
    width:100%;
    display: block;
}
.contact{
    background-color: var(--primary-color);
}
.contact p{
    text-align: center;
}
.contact p a{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    padding: 25px; 
}
.contact p a:hover{
    color: var(--black);
    
    
}
.map iframe{
    width: 100%;
}


